<section>
  <div class="row">
    <div class="col-sm-9">
      <div class="event_single">
        <ul>
          <% if @event && @event.errors.any? %>
          <% @event.errors.full_messages.each do |message| %>
          <li class="bad-choice"><%= message %></li>
          <% end %>
          <% end %>
        </ul>
        <h1>Add an Event:</h1>

        <%= form_for @event do |f| %>

        <div>
          <%= f.label :name %>
          <%=f.text_field :name %>
        </div>

        <div>
          <%= f.label :place %> (address)
          <%= f.text_field :place %>
        </div>

        <div>
          <%= f.label :start_at %> (time and date)
          <%= f.text_field :start_at %> 
        </div>

        <div>
          <%= f.label :end_at %> (time and date)
          <%= f.text_field :end_at %>
        </div>

      </div>
      <%= f.submit %>
    </div>
  </div>
</div>
</section>
<% end %>



