<h2><%= @event.name %></h2>
<h2><%= @event.place %></h2>
<h2><%= @event.start_at %></h2>
<h2><%= @event.end_at %></h2>
<h2><%= @event.url %></h2>



<% if @event.station %>

<h2><%= @event.station.name %></h2>
<% end %>

<div id="map"></div>
   <script>


    
 
 function initMap() {
   var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 11,
     center: {lat: 38.0188962, lng: -121.9471977}, 
     mapTypeId: google.maps.MapTypeId.ROADMAP
   });
 
 map.markers = [];

  var stationsArray = <%= raw @stations_map %>;
  for(var i=0; i < stationsArray.length; i++) {
   var station = stationsArray[i];
   var station_latitude = parseFloat(stationsArray[i][0]);
   var station_longitude = parseFloat(stationsArray[i][1]);
   
     var marker = new google.maps.Marker({
       position: {lat: station_latitude, lng: station_longitude},
       map: map,
       icon: "http://icons.iconarchive.com/icons/yusuke-kamiyamane/fugue/16/train-metro-icon.png",
       title: stationsArray[i][2]
     });
      map.markers.push(marker);
   }

  var mywindow = null;
  /* now inside your initialise function */
  mywindow = new google.maps.InfoWindow({
  content: ""
  });

  for (var i = 0; i < map.markers.length; i++) {
    var stationsArray = <%= raw @stations_map %>;
    google.maps.event.addListener(map.markers[i], 'click', function () {
      // where I have added .html to the marker object.
      mywindow.setContent(this.title); // Popup windows for each station
      mywindow.open(map, this);
    });
  }



    var eventsArray = <%= raw @events_coordinates %>;
    console.log(eventsArray);
    for(var index=0; index < eventsArray.length; index++) {
      var a_event = eventsArray[index];
      var event_latitude = parseFloat(a_event[0]);
      var event_longitude = parseFloat(a_event[1]);
      // console.log("hello this is " + a_event[0])
      // console.log(event_latitude);
      // console.log(event_longitude);
    
    var marker2 = new google.maps.Marker({
         position: {lat: event_latitude, lng: event_longitude},
         map: map,
       
       });
    }

  // Content inside window for event
  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading"><%= @event.name %></h1>'+
      '<div id="bodyContent">'+
      '<p><b>Address: </b><%= @event.place %><b></p><p>Start at: </b><%= @event.start_at %></p><p><b>End at:</b> <%= @event.end_at %></p> <p><b> Link: </b><a href= <%= @event.url %> ><%= @event.url %></a></p> '
      '</div>'+
      '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });



    function rad(x) {return x*Math.PI/180;}
function find_closest_marker() {
    var lat = event_latitude;
    var lng = event_longitude;
    var R = 6371; // radius of earth in km
    var distances = [];
    var closest = -1;
    for( i=0;i<map.markers.length; i++ ) {
        var mlat = map.markers[i].position.lat();
        var mlng = map.markers[i].position.lng();
        var dLat  = rad(mlat - lat);
        var dLong = rad(mlng - lng);
        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
            Math.cos(rad(lat)) * Math.cos(rad(lat)) * Math.sin(dLong/2) * Math.sin(dLong/2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        var d = R * c;
        distances[i] = d;
        if ( closest == -1 || d < distances[closest] ) {
            closest = i;
        }
    }

    console.log(map.markers[closest]);
      marker2.addListener('click', function() {
        infowindow.open(map, marker2);
      });
    map.markers[closest].icon = "http://ptv.vic.gov.au/assets/Images/App-images/_resampled/resizedimage3650-Icon-Nov-15_Train-PIN-Icon-RGB.png";
}

find_closest_marker();

};

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFrjBU54NwKX7dKz4WAB2XocG4PFdRaKY&callback=initMap"
    async defer></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>



<%= link_to "Delete", "/events/#{@event.id}", {method: :delete, class: "btn btn-danger"} %>
<%= link_to "Edit","/events/#{@event.id}/edit", class: "btn btn-success" %>


