<!DOCTYPE html>
<html>
<head>
  <title>BartApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 1000px !important;
      }
    </style>

</head>
	<body data-spy="scroll" data-target="#main-nav" data-offset="400">
	
		<!--=== PAGE PRELOADER ===-->
		<div id="page-loader"><h1 class='loader-logo'>BARTaround<span><!--  / Creative Studio --></span></h1><span class="page-loader-gif"></span></div>
		
		<!--=== BACKGROUND ===-->
		<div id="backgrounds" data-backgrounds="assets/theme/back_img_1.jpg,assets/theme/back_img_2.jpg,assets/theme/back_img_3.jpg"></div>		<div id="color-overlay"></div>
	
		<!-- ==============================================
		MAIN NAV
		=============================================== -->
		<div id="main-nav" class="navbar navbar-fixed-top">
			<div class="container">
			
				<div class="navbar-header">
				
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					
					<!-- ======= LOGO ========-->
					<a class="navbar-brand scrollto" href="#home">BARTaround<span> <!-- / Creative Studio --></span></a>
					<!-- <a class="navbar-brand scrollto ir-logo" href="#home">SHAPES<span> / Creative Studio</span></a> -->
				
				</div>
				
				<div id="site-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="sr-only">
							<a href="#home" class="scrollto">Home</a>
						</li>
						<li>
							<a href="#services" class="scrollto">Events</a>
						</li>
						<li>
							<a href="#portfolio" class="scrollto">Stations</a>
						</li>
						<li>
							<a href="#about" class="scrollto">Locations</a>
						</li>
						<li>
							<a href="#contact" class="scrollto">Sign-up</a>
						</li>
					</ul>
				</div><!--End navbar-collapse -->
				
			</div><!--End container -->
			
		</div><!--End main-nav -->

		<p class="navbar-text pull-right">
			<% if user_signed_in? %>
			Logged in as <strong><%= current_user.email %></strong>.
			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>

			<ul class="nav">
			<li class="active"><a href="/events">Events</a></li>
			</ul>

		
				  
				</div><!-- End row -->
				
			</div><!-- End container -->
			
		</section><!-- End contact section -->
		       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
		 <%= yield %>

	
		
		<!-- ==============================================
		FOOTER
		=============================================== -->	
		<footer id="main-footer">
		
			<div class="container">
			
				<div class="row">
				
					<div class="col-sm-6 left-col">
						<p><span>Shapes</span> &copy;Copyright 2013 / All Rights Reserved</p>
					</div>
					
					<div class="col-sm-6 right-col">
						
						<ul class="footer-nav">
							<li><a class="scrollto" href="#home">Home</a></li>
							<li><a class="scrollto" href="#services">Services</a></li>
							<li><a class="scrollto" href="#portfolio">Portfolio</a></li>
							<li><a class="scrollto" href="#contact">Contact</a></li>
						</ul>
						
					</div>
					
				</div><!-- End row -->
				
			</div><!-- End container -->
			
		</footer><!-- End footer -->
		
		<!-- ==============================================
		SCRIPTS
		=============================================== -->
		
		  
			<!--   <script>
			  // function initialize() {
			  //   var mapOptions = {
			  //     zoom: 10,
			  //     center: new google.maps.LatLng(-35, 150.10)
			  //   };

			  //   var map = new google.maps.Map(document.getElementById('map-canvas'),
			  //     mapOptions);
			  // }

			  // function loadScript() {
			  //   var script = document.createElement('script');
			  //   script.type = 'text/javascript';
			  //   script.src = 'https://maps/googleapis.com/maps/apis/js?v=3.exp&' + 'callback=initialize';
			  //   document.body.appendChild(script);
			  // }

			  // window.onload = loadscript;
			  </script>
     <script>



// 				var map;
// 				function initMap() {
// 				  map = new google.maps.Map(document.getElementById('map'), {
// 				    center: {lat: 37.7576793, lng: -122.5076399},
// 				    zoom: 8
// 				  });
// 				}

// 				</script>
     <script>
// // function initMap() {
//   var myLatLng = {lat: 38.0188962, lng: -121.9471977};

//   var map = new google.maps.Map(document.getElementById('map'), {
//     zoom: 4,
//     center: myLatLng
//   });

//   var marker = new google.maps.Marker({
//     position: myLatLng,
//     map: map,
//     title: 'Hello World!'
//   });
// }

// function initMap() {
//   var map = new google.maps.Map(document.getElementById('map'), {
//     zoom: 10,
//     center: {lat: 38.0188962, lng: -121.9471977}, 
//     mapTypeId: google.maps.MapTypeId.ROADMAP
//   });


//   var stationsArray = <%= raw @stations %>;
//   for(var i=0; i < stationsArray.length; i++) {
//   	var geocoder = new google.maps.Geocoder();
//   	var address = stationsArray[i];
//   	console.log(address)
  

//   geocoder.geocode( { 'address': address}, function(results, status) {
// console.log(results)
//   	if (status == google.maps.GeocoderStatus.OK) {
//   		var latitude = results[0].geometry.location.lat();
//   		var longitude = results[0].geometry.location.lng();
//   		console.log(latitude);
//   		console.log(longitude);
//   		var marker = new google.maps.Marker({
//   			position: {lat: latitude, lng: longitude},
//   			map: map
//   		});
//   	} 

//   });
// }
// }


//     var marker;

// function initMap() {
// 	var map = new google.maps.Map(document.getElementById('map'), {
// 		zoom: 10,
// 		center: {lat: 38.0188962, lng: -121.9471977}, 
// 		mapTypeId: google.maps.MapTypeId.ROADMAP
// 	});


// 	var stationsArray = <%= raw @stations_map %>;
// 	for(var i=0; i < stationsArray.length; i++) {
// 		var station = stationsArray[i];
// 		var latitude = parseFloat(stationsArray[i][0]);
// 		var longitude = parseFloat(stationsArray[i][1]);
// 		console.log(latitude);
// 		console.log(longitude);


// 			var marker = new google.maps.Marker({
// 				position: {lat: latitude, lng: longitude},
// 				map: map
// 			});
// 	}
// }



  // marker = new google.maps.Marker({
  //   map: map,
  //   draggable: false,
  //   animation: google.maps.Animation.DROP,
  //   position: {lat: 38.0188962, lng: -121.9471977}
  // });
  // marker.addListener('click', toggleBounce);
// }

// function toggleBounce() {
//   if (marker.getAnimation() !== null) {
//     marker.setAnimation(null);
//   } else {
//     marker.setAnimation(google.maps.Animation.BOUNCE);
//   }
// }
// </script> -->
    



	</body>
	
</html>